.product1 {
  width: 100%;
  height: 300px;
  background: #f5f5f7;
  background-image: url("../../assets/Banner\ Image.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product1-title {
  font-size: 40px;
  font-weight: 600;
  color: #2f4f5a;
}
