.product1 {
  width: 100%;
  height: 300px;
  background: #f5f5f7;
  background-image: url("../../assets/Banner Image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  text-align: center;
}

.product1-title {
  font-size: 40px;
  font-weight: 600;
  color: #2f4f5a;
}


@media (max-width: 1200px) {
  .product1 {
    height: 280px;
  }

  .product1-title {
    font-size: 36px;
  }
}


@media (max-width: 992px) {
  .product1 {
    height: 260px;
  }

  .product1-title {
    font-size: 32px;
  }
}


@media (max-width: 768px) {
  .product1 {
    height: 230px;
  }

  .product1-title {
    font-size: 28px;
  }
}


@media (max-width: 576px) {
  .product1 {
    height: 200px;
  }

  .product1-title {
    font-size: 24px;
  }
}


@media (max-width: 420px) {
  .product1 {
    height: 180px;
  }

  .product1-title {
    font-size: 20px;
  }
}


@media (max-width: 360px) {
  .product1 {
    height: 160px;
  }

  .product1-title {
    font-size: 18px;
  }
}
