* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.home6-container {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto 40px;
  background: #8db79f;
  padding: 60px 20px;
  font-weight: 700;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}

.home6-title {
  font-size: 32px;
  margin-bottom: 40px;
}

.home6-button {
  color: #17343f;
  text-decoration: none;
  background: #f2cf73;
  padding: 12px 25px;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s;
}

.home6-button:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #e3c691, #f0df81);
}

.dot {
  width: 8px;
  height: 8px;
  background: #1d3557;
  border-radius: 50%;
}

.home6-cards {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}

.home6-card {
  background: white;
  width: 230px;
  padding: 15px;
  border-radius: 15px;
  color: #1d3557;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: 0.3s;
}


.tag {
  background: #1d3557;
  color: white;
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 10px;
  display: inline-block;
}

.img-box {
  width: 100%;
  height: 250px;
  background: #f7f7f7;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 15px;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.3s;
}



.product-text {
  font-size: 14px;
}



@media (max-width: 1200px) {
  .home6-card { width: 200px; }
  .img-box { height: 220px; }
}

@media (max-width: 800px) {
  .home6-card { width: 180px; }
  .img-box { height: 200px; }
}

@media (max-width: 480px) {
  .home6-cards {
    flex-direction: column;
    align-items: center;
  }

  .home6-card {
    width: 90%;
  }

  .img-box {
    height: 180px;
  }
}
