.about1 {
  max-width: 1700px;
  margin: auto;
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.about1-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about1-title {
  position: absolute;
  font-size: 42px;
  font-weight: 600;
  color: #1f4053;
  text-align: center;
  padding: 0 16px;
}


@media (max-width: 375px) {
  .about1 {
    height: 140px;
  }

  .about1-title {
    font-size: 20px;
  }
}


@media (max-width: 414px) {
  .about1 {
    height: 160px;
  }

  .about1-title {
    font-size: 22px;
  }
}


@media (max-width: 430px) {
  .about1 {
    height: 170px;
  }

  .about1-title {
    font-size: 24px;
  }
}


@media (max-width: 768px) {
  .about1 {
    height: 200px;
  }

  .about1-title {
    font-size: 30px;
  }
}


@media (max-width: 820px) {
  .about1 {
    height: 220px;
  }

  .about1-title {
    font-size: 32px;
  }
}


@media (max-width: 1024px) {
  .about1 {
    height: 240px;
  }

  .about1-title {
    font-size: 36px;
  }
}

@media (max-width: 900px) and (min-width: 600px) {
  .about1 {
    height: 210px;
  }

  .about1-title {
    font-size: 34px;
  }
}
