.favorite-modal {
  position: fixed;
  top: 0;
  right: -420px;
  width: 380px;
  height: 100vh;
  background: #ffffff;
  box-shadow: -12px 0 35px rgba(0,0,0,.12);
  padding: 22px;
  transition: 0.45s cubic-bezier(.4,0,.2,1);
  z-index: 3000;
  display: flex;
  flex-direction: column;
}

.favorite-modal.open {
  right: 0;
}



.favorite-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.favorite-header h3 {
  font-size: 20px;
  color: #14532d;
  font-weight: 700;
}

.favorite-header button {
  background: #ecfdf5;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #166534;
  font-size: 18px;
  cursor: pointer;
  transition: .25s;
}

.favorite-header button:hover {
  background: #22c55e;
  color: #ffffff;
}



.favorite-modal p {
  text-align: center;
  margin-top: 60px;
  color: #4b5563;
  font-size: 15px;
}



.favorite-modal ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
  overflow-y: auto;
}

.favorite-item {
  display: flex;
  align-items: center;
  background: #f0fdf4;
  border-radius: 14px;
  padding: 12px;
  margin-bottom: 14px;
  gap: 12px;
  border: 1px solid #dcfce7;
  animation: fadeIn .25s ease;
}

.favorite-item img {
  width: 52px;
  height: 52px;
  border-radius: 12px;
  object-fit: cover;
  border: 1px solid #bbf7d0;
}

.favorite-item div {
  flex: 1;
}

.favorite-item p {
  margin: 0;
  font-weight: 600;
  color: #14532d;
}

.favorite-item span {
  font-size: 13px;
  color: #166534;
}



.favorite-item button {
  background: #ecfdf5;
  border: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  color: #166534;
  font-size: 16px;
  cursor: pointer;
  transition: .25s;
}

.favorite-item button:hover {
  background: #22c55e;
  color: #ffffff;
}



@keyframes fadeIn {
  from { opacity: 0; transform: scale(.96); }
  to { opacity: 1; transform: scale(1); }
}


@media (max-width: 768px) {
  .favorite-modal {
    width: 100%;
    right: -100%;
  }
}
