.notfound {
  max-width: 1700px;
  margin: auto;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 12%;
}

.content {
  max-width: 420px;
}

.content h1 {
  font-size: 140px;
  margin: 0;
  color: rgba(40, 70, 75, 0.35);
}

.content h2 {
  font-size: 34px;
  margin: 10px 0;
  color: #244a50;
}

.content p {
  font-size: 14px;
  color: #5b7a80;
  margin-bottom: 28px;
}

.notfound-btn {
  background: #244a50;
  color: white;
  padding: 12px 26px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
  transition: .3s;
}

.notfound-btn:hover {
  background: #1c363c;
}



@media (max-width: 900px) {
  .notfound {
    justify-content: center;
    padding-right: 0;
    text-align: center;
  }

  .content h1 {
    font-size: 110px;
  }
}
