.catalog-banner {
  max-width: 1600px;
  margin: auto;
  position: relative;
  width: 100%;
  height: 230px;
  overflow: hidden;
}


.catalog-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.catalog-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: 700;
  color: #2e3a45;
  text-align: center;
  padding: 0 16px;
  line-height: 1.2;
}


@media (max-width: 480px) {
  .catalog-banner {
    height: 140px;
  }

  .catalog-title {
    font-size: 22px;
  }
}


@media (max-width: 768px) {
  .catalog-banner {
    height: 170px;
  }

  .catalog-title {
    font-size: 28px;
  }
}


@media (max-width: 1024px) {
  .catalog-banner {
    height: 200px;
  }

  .catalog-title {
    font-size: 36px;
  }
}


@media (max-width: 1280px) {
  .catalog-title {
    font-size: 42px;
  }
}
