.catalog-banner {
  max-width: 1600px;
  margin: auto;
  position: relative;
  width: 100%;
  height: 230px;
  overflow: hidden;
}

.catalog-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalog-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: 700;
  color: #2e3a45;
}
